.row, .column {
  /* By default, box-sizing is set to content-box */
  box-sizing: border-box;
  overflow: auto;
}

.row:before, .row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

.column {
  float: left;
  position: relative;
  border: 2px solid Tomato;
  border-radius: 20px;
  text-align: center;
  overflow: auto;
}

.header > .column,
.footer > .column {
  padding: 25px;
}

.middle > .column {
  height: 400px;
  /*line-height: 400px;*/
}

.top > .column {
	height: 150px;
	/*line-height: 150px;*/
}

.bottom > .column {
	height: 250px;
	/*line-height: 250px*/
}

body {
	background-color: gray;
}

h1 {
	color: white;
	background-color: black;
}

.section1ax {
	float: left;
	overflow: auto;
  	position: relative;
  	border: 2px solid black;
 	border-radius: 20px;
 	text-align: center;
 	/*display: inline;*/
 	width: 100px;
 	height: 100px;
 	/*overflow: hidden;*/
}

#category {
	width: 150px;
	height: 50px;
}

#section1axdiv {
	width: 250px;
	height: 75px;
}

#question {
	width:220px;
	height: 75px;
	margin: 0px;
	text-align: left;
	border: 2px solid black;
 	border-radius: 20px;
 	color:yellow;
 	z-index: 100;
}




.trythis {
	float: left;
	overflow: auto;
  	position: relative;
  	border: 2px solid black;
 	border-radius: 20px;
 	text-align: center;
 	display: block;
 	width: 400px;
 	height: 50px;
 	overflow: hidden;
}

.allintrythis {
	float: left;
	overflow: auto;
  	position: relative;
  	border: 2px solid black;
 	border-radius: 20px;
 	display: inline;
}

#trythis1p, #trythis2p, #trythis3p, #trythis4p {
  	border: 2px solid white;
 	border-radius: 20px;
 	text-align: left;
 	display: inline;
 	width: 300px;
 	height: 25px;
 	margin: 0px;

}



.column-1 { width: 8.33%; }
.column-2 { width: 16.66%; }
.column-3 { width: 25%; }
.column-4 { width: 33.33%; }
.column-5 { width: 41.66%; }
.column-6 { width: 50%; }
.column-7 { width: 58.33%; }
.column-8 { width: 66.66%; }
.column-9 { width: 75%; }
.column-10 { width: 83.33%; }
.column-11 { width: 91.66%; }
.column-12 { width: 100%; }